button{
  color: white;
  font-weight: 600;
  font-size: 1rem;
  border-radius: 5px;
  border: none;
  background-color: rgb(229 63 36);
  padding: 20px;
  margin-top: -12px;
}

.column1{
  height: 100%;
  float: left;
  width: 90%;
}
.column2{
  height: 100%;
  float: left;
  width: 10%;
}
.row{
  height: 50px;
  padding: 20px 50px 0px 30px ;
}

.box{
  background-color: rgb(123, 231, 35) !important;
}

.box2{
  margin-left: 100px;
}

.column3{
  float: left !important;
  width: 33% !important;
}
h2{
  margin-top: 0px;
  padding-top: 0px;
  text-align: center;
}


.profile {
  border: 2px solid black;
  border-bottom-right-radius: 20px;
  max-width: 200px;
  margin: 10px 5px;
  text-align: center;
  font-family: 'Times New Roman';
  padding: 15px;
  background-color:white;
}

.email {
  color: rgb(65, 6, 6);
  font-size: 18px;
  overflow-wrap: anywhere;
}
.name{
  font-size:25px;
  font-weight: bold;
  color: rgb(7, 1, 7);
}
.loader{
  margin-left: 300px;
  margin-top: 100px;
  margin-right: 80px;
}